.container {
margin: 0 auto;
width: 860px !important;
padding-top: 20px;
}

a {
color: #2ba39f  !important;
text-decoration: none !important;
}

a:hover {
  color: #32d6d1 !important;
}

li {
  list-style-type: none;
}

ul {
  padding: 0 !important;
}

h1, h2 {
  text-transform: uppercase;
  padding: 20px 0;
}

.details {
  color:rgb(181, 46, 89);
}

.card {
  border: none !important;
}

.button {
  background-color: #2ba39f !important;
  color: white !important;
  border: none !important;
  padding: 8px 20px !important;
  border-radius: 5px !important;
  margin-bottom: 40px;
  width: fit-content;
  align-self: center;
}

.button:hover {
  background-color: #32d6d1 !important;
}

.centered {
  text-align: center;
}
